:root {
    --bg-color: #1b2621;
    --text-color: #f4f4f5;
    --post-back-color: #FFE566;
    --font-main: "Gloria Hallelujah", cursive;
    --font-hand: 'Caveat', cursive;
    --post-color: #000000;
    --texture-color: #000000;
    --accent: #99d6ba;
    --accent-text: #1b2621;
}


* {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    width: 100%;
    background-color: var(--bg-color);
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--text-color);
    font-family: var(--font-main);
}

.borderContainer {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    min-height: 100dvh;
    border: 40px solid #3e2723;
    border-left-color: #4e342e;
    border-top-color: #5d4037;
    border-right-color: #271815;
    border-bottom-color: #1a100e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    pointer-events: none;
}

section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 70px;
    gap: 10px;
    transition-duration: .15s;
    animation: appearSection .15s;
    text-align: center;
}

@keyframes appearSection {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

section > h1,
section > h2 {
    text-align: center;
    font-weight: normal;
}

section > h1 {
    font-size: 40px;
}

section > h2 {
    font-size: 25px;
}


button {
    padding: 5px 20px;
    font-family: var(--font-main);
    border: none;
    border-radius: 19px;
    background-color: #d9d9d9;
    color: #000;
    transition-duration: .15s;
}

a {
    color: var(--accent);
    transition-duration: .15s;
}

button:hover,
a:hover {
    filter: brightness(1.3);
}

button:active,
a:active {
    filter: brightness(0.7);
}

button[type="fakeLink"] {
    background-color: transparent;
    padding: 0;
    text-decoration: underline;
    color: var(--accent)
}

button[type="primary"] {
    background-color: var(--accent);
    color: var(--accent-text)
}

.textareaContainer {
    position: relative;
    width: 30%;
    border: 1px solid var(--text-color);
    box-sizing: border-box;
}

.textareaContainer > textarea {
    border: none;
    background-color: transparent;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    color: var(--text-color);
    font-family: var(--font-hand);
}

.textareaContainer > textarea:focus {
    outline: none;
}

.textareaContainer > #char-count {
    position: absolute;
    right: 10px;
    bottom: 0px;
}
 
@media (max-width: 500px) {
    * {
        font-size: 15px;
    }
    
    section > h1 {
        font-size: 35px;
    }

    section > h2 {
        font-size: 20px;
    }

    .textareaContainer {
        width: 100%;
    }
}